// Vars
$color-primary: #149B4E;
$accent-color: #EAC200;
$font-color: #505050;
$error-color: #FF6040;
$z-topest: 11000;
$z-overlay: 10000;
$z-navigation: 9999;
$z-common: 1000;

@import "mixins";

body {
    @include transition();
    color: $font-color;
}